.projectinfo{
  .info{
    font-size: 14px;
    color:#666666;
    padding:20px;
    SPAN{
      font-size:14px;
      font-weight: bold;
    }
  }
  .x-grid-body{
    border-top:0px;
    margin:15px;
  }

}